
body{
    font-family: 'Roboto','Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.main{
    background-color: rgb(25, 34, 65);
    color: white;
    height: 500px;
}

ul {
    list-style-type: none;
  }

.box{
    background-color: rgb(55, 64, 71);
    height: 250px;
    width: 400px;
}

.container{
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

.container ul{
    display: flex;
    gap:20px;
    justify-content: flex-end;
}

button{
    background-color: #3882f6;
    color: azure;
    padding: 10px 30px ;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
}